@import "vars";

/*
Миксин для media queries. Определены следующие размеры:
- mobile - для мобильных < 768px
- mobile-tablet - только для планшетов и мобильных
- tablet - для планшетов с разрешением <= 768px (портретный режим)
- desktop-small - маленькие экраны и некоторые планшеты в ланшафтном режиме (например iPad)
- desktop - большие экраны от 1256px
*/
@mixin bp($point) {
  @if $point == mobile {
    @media (max-width: $mobile-width - 1px) { @content; }
  }
  @if $point == mobile-tablet {
    @media (max-width: $tablet-width - 1px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: $mobile-width) { @content; }
  }
  @else if $point == desktop-small {
    @media (min-width: $tablet-width)  { @content; }
  }
  @else if $point == desktop {
    @media (min-width: $max-width)  { @content; }
  }
}

/*
Перевод px в rem.
*/
@mixin font-size($size, $line-height: -100) {
  font-size: ($size / $base-font-size) + rem;
  @if($line-height != -100) {
    line-height: $line-height;
  }
}

/*
Обнуление списков
*/
@mixin simple-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
