$base-font-size: 16px;            // Базовый размер шрифта

$desktop-small-width: 1256px;     // Минимальный размер большого экрана
$tablet-width: 1024px;            // Минимальный размер среднего экрана
$mobile-width: 768px;             // Минимальный размер планшета

$max-width: 1024px;               // Максимальный размер экрана

$white: #FFFFFF;                  // Белый цвет
$black: #000000;                  // Черный цвет

$accent: #481542;
$accent-alt: #cc4b43;
$bg: #fcf0d0;
$bg-darker: #f4e48f;
$text: #453b44;