@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic");
@import "vars";
@import "mixins";

html, body {
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
}

body {
  background: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $text;

  /* Chrome + Safari =/- */
  text-rendering: geometricPrecision;
  /* Safari */
  -webkit-font-smoothing: antialiased;
  /* Firefox */
  -moz-osx-font-smoothing: grayscale;
  /* Just in case */
  font-smooth: antialiased;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.react-autosuggest {
  &__container {
    position: relative;
  }

  &__suggestions-container {
    display: none;

    &--open {
      display: block;
      position: absolute;
      top: 41px;
      width: 100%;
      border: 1px solid;
      background-color: $white;
      z-index: 2;
    }
  }

  &__suggestions-list {
    @include simple-list;
  }

  &__suggestion {
    cursor: pointer;
    padding: 12px 20px;

    &--highlighted {
      background: $bg;
    }
  }
}



.layout {
  margin: 0 auto;
}

.center {
  max-width: $max-width;
  margin: 0 auto;
}

.header {
  @include font-size(40px, 48px);
  font-weight: 700;
  background: $accent;
  color: $bg;
  padding: 24px 0;
}

.toolbar {
  @include font-size(20px, 24px);
  padding: 20px 0;
  background: $bg-darker;
  color: $accent;

  &__link {
    color: $accent-alt;

    &:hover {
      color: $accent;
    }

    + .toolbar__link {
      margin-left: 40px;
    }

    &.active {
      color: $accent;
    }
  }
}

input, button {
  outline: none;
  border: none;
  appearance: none;
  border-radius: 0;
  font-family: 'Roboto';
  color: $text;

  &[type="text"], &[type="number"], &[type="date"] {
    @include font-size(20px, 40px);
    border: solid 1px $accent;
    width: 100%;
    padding: 0 8px;

    &.error {
      border-color: $accent-alt;
    }
  }

  &[type="date"] {
    width: auto;

    &::-webkit-calendar-picker-indicator {
      background: transparent;
      outline: none;
    }
  }
}

button {
  transition: all 0.3s;
}

.cross {
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);

  &:before, &:after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $accent;
    border-radius: 2px;
  }

  &:before {
    width: 4px;
    height: 100%;
  }

  &:after {
    width: 100%;
    height: 4px;
  }
}

.form {
  padding: 40px 0;
  width: 700px;

  &__label {
    @include font-size(20px, 24px);
    display: block;
    font-weight: 500;

    + * {
      margin-top: 8px;
    }
  }

  &__input {
    + .form__input {
      margin-top: 20px;
    }
  }

  &__btn {
    @include font-size(18px, 40px);
    text-align: center;
    padding: 0 20px;
    background: $accent;
    border-radius: 6px;
    color: $bg;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    margin-top: 12px;

    &:hover {
      background: $accent-alt;
    }
  }

  &__list {
    margin: 12px 0;

    &__title {
      @include font-size(18px, 22px);
      font-weight: 500;
      margin-bottom: 12px;
    }

    &__items {
      display: flex;
      margin: -12px 0 0 -12px;
    }

    &__item {
      margin: 12px 0 0 12px;
      background: $bg-darker;
      padding: 6px 12px;
      border-radius: 6px;
      color: $accent-alt;
      display: flex;
      align-items: center;
    }

    &__del {
      margin-left: 12px;
    }
  }

  &__image {
    margin-top: 12px;

    &__wrap {
      width: 200px;
      height: 300px;
      position: relative;
      overflow: hidden;
    }

    &__img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      display: block;
    }

    &__del {
      margin: 0 0 0 auto;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__file {
    position: relative;
    height: 40px;
    background: $bg-darker;
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s;

    input {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 100px;
      cursor: pointer;
      opacity: 0;
    }

    &__label {
      @include font-size(20px, 40px);
      font-weight: 500;
      width: 100%;
      text-align: center;
      transition: all 0.3s;
    }

    &:hover {
      background: $accent-alt;

      .form__file__label {
        color: $white;
      }
    }
  }

  &__error {
    margin-top: 8px;
    color: $accent-alt;
  }

  &__error-list {
    @include simple-list;
  }
}

.books {
  padding: 40px 0;

  &__empty {
    @include font-size(30px, 40px);
    color: $accent-alt;
    text-align: center;
  }
}

.book {
  display: flex;
  border-bottom: solid $accent 1px;
  padding: 12px 0;

  &__image {
    flex: 0 0 200px;
    max-width: 200px;
    height: 250px;
    overflow: hidden;
    margin-right: 20px;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__info {
    flex: 1;
  }

  &__row {
    display: flex;

    + .book__row {
      margin-top: 8px;
    }
  }

  &__title {
    @include font-size(20px, 28px);
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__links {
    display: flex;
    margin-top: 40px;
  }

  &__link {
    @include font-size(14px, 16px);
    color: $accent-alt;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: $accent;
    }

    + .book__link {
      margin-left: 20px;
    }
  }
}

.popup {
  @include font-size(20px, 24px);
  font-weight: 500;
  color: $accent-alt;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 200px;
  height: 100px;
  background: rgba($bg-darker, 0.8);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &_visible {
    opacity: 1;
    visibility: visible;
  }
}

.sort {
  display: flex;
  padding: 20px 0;

  &__link {
    cursor: pointer;
    color: $accent-alt;
    margin-left: 20px;
    display: flex;
    align-items: center;

    &:hover {
      color: $accent;
    }

    &_active {
      font-weight: 700;

      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        margin-left: 4px;
        transition: all 0.3s;
      }
    }

    &_desc {
      &:after {
        border-width: 10px 6px 0 6px;
        border-color: $accent-alt transparent transparent transparent;
      }

      &:hover {
        &:after {
          border-color: $accent transparent transparent transparent;
        }
      }
    }

    &_asc {
      &:after {
        border-width: 0 6px 10px 6px;
        border-color:  transparent transparent $accent-alt transparent;
      }

      &:hover {
        &:after {
          border-color: transparent transparent $accent transparent;
        }
      }
    }

  }
}